* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica;
    font-size: 15px;
}

/*----------------------------HEADER---------------------------*/

.float-left{
    float: left !important;
}
.float-right{
    float: right !important;
}

/* HEADER */
.header{
    height: 70px;
    text-align: center;
    position: relative;
    clear: both;
}
#header-logo, #navbar-logo{
    width: 50px;
    height: 50px;
    margin: 10px 20px 10px 30px;
}
.header .title{
    padding-top: 12px;
    text-align: center;
    display: inline-block;
}
.header h1{
    font-size: 1.2em;
    color: #032B91
}
.header h1 span{
    color: #1488DB;
}
.header a, .nav-bar a:hover, .nav-bar a:focus{
    text-decoration: none;
}
.header-button{
    height: 55px;
    width: 55px;
    margin: 5px 30px auto 20px;
    border-radius: 100%;
    border: 0;
    background-color: #fff;
    color: #afabab;
}
.active, .header-button:hover, .btn-translation-type:hover{
    background-color: #f0f0f0;
}
.header-button:hover, .btn-translation-type:hover{
    cursor: pointer;
}
.icon-bar{
    background-color: #afabab;
    height: 2.5px;
    width: 40%;
    border-radius: 1px;
    margin: 0 auto;
}
.icon-bar + .icon-bar{
    margin-top: 4px;
}
/* END OF HEADER */

/* NAVIGATION BAR */
#navbar-logo{
    margin: 10px auto;
}
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(300px, 0);
    width: 250px;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    text-align: center;
    border-left: 1px solid #afabab;
    box-shadow: -1px 0px 10px #afabab;
    transition: transform 0.2s linear;
}
.navbar a, .navbar a:hover, .navbar a:focus{
    text-decoration: none;
}
.navbar a + hr{
    margin: 10px auto 20px;
}
.navbar li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-list li a{
    width: 100%;
    padding: 20px 5px;
    text-align: center;
    font-size: 1em;
    color: #afabab;
    background-color: none;
    border: 0;
}
.navbar-list li a:hover, .navbar-list li a:focus, .nav-list li a.active{
    background-color: #f0f0f0;
    color: #000;
    font-weight: bold;
}
/* END OF NAVIGATION BAR */


/* TRANSLATOR */
#main-content{
    margin-top: -80px
}
.grey-bar{
    background-color: #EFFFFD;
    height: 100px;
    border-top: 1px solid #B8FFF9;
    border-bottom: 1px solid #B8FFF9;
}
.btn-holder{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.btn-holder{
    margin-bottom: 20px;
}
.btn-translation-type{
    height: 35px;
    padding: 5px 25px;
    margin-right: 5px;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #afabab;
    border-radius: 5px;
    font-size: 1em;
    color: #1488DB;
    font-weight: 500;
}
.container{
    margin: 0 auto;
    width: 80%;
}
.translator{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #afabab;
    background-color: #fff;
    box-shadow: 0px 0px 5px #afabab;
}
.translator .text-input{
    display: flex;
    border-top: 1px solid #afabab;
}
.text-input .vn-text{
    border-right: 1px solid #afabab;
    border-radius: 0 0 0 5px;
}
.text-input textarea{
    min-height: 175px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 20px 15px;
}
.controls, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls li span{
    color: #1488DB;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}
.controls{
    list-style: none;
    padding: 15px 15px;
}
.controls .row select{
    border: none;
    outline: none;
    font-size: 1em;
}
#btn-translate{
    width: 100%;
    margin: 20px auto;
    padding: 14px;
    border: none;
    outline: none;
    background-color: #1488DB;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}
/* END OF TRANSLATOR */

/* MEDIUM SCREEN */
@media (max-width: 991px){
     /* TRANSLATOR */
    .container{
        width: 100%;
    }
    /* END OF TRANSLATOR */
}

/* SMALL SCREEN */
@media (max-width: 767px){

    /* TRANSLATOR */
    .translator .text-input{
        display: block;
    }
    /* END OF TRANSLATOR */
}


/*----------------------------END OF THANH---------------------------*/

/*------------------------------TRANSLATOR------------------------------*/


.margin-side{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.invisible{
    border: 0;
    background-color: 0;
}

.bolding{
    font-weight: bolder;
    float: left;
    margin-top: 25px;
    margin-right: 50px;
}

/*------------------------------END OF TRANSLATOR------------------------------*/

/*------------------------------CONTACT------------------------------*/

#contact-head{
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    /*margin-bottom: 30px;*/
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    color: #1890FF;
}
.obj-contact{
    width: 100%;
    height: auto;
    background-color: none;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
#background-img1{
    background-size: 100% 100%;
    background-position: center;
}
#background-img2{
    background-size: 110% 100%;
    background-position: center;
}
#background-img3{
    background-size: 100% 110%;
    background-position: center;
}
#background-img4{
    background-size: 105% 120%;
    background-position: left;
}
/* .name_contact{
    width: 100%;
    height: 30px;
    background-color: #D7D7D7;
    font-weight: bolder;
    text-align: center;
    padding-top: 6px;
} */
.contact-info1{
    width: 40%;
    height: 440px;
    text-align: left;
    display: flex;
    flex-direction: row;
    border: 5px solid blue;
    margin-left: 10px;
    border-radius: 40px;
}
.info{
    padding-top: 130px;
    line-height: 45px;
}
.info p{
    font-size: 1.3em;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
}
.info p:nth-child(3) span:hover{
    color: #1890FF;
    text-decoration: underline;
}
.obj-contact hr {
    width: 80%;
    margin: auto;
}
.align-right p{
    flex-direction: row-reverse;
}
.margin-box-right{
    flex-direction: row-reverse;
}
.img-format1{
    width: 220px;
    height: 230px;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 0px 20px #33FFFF;
}
.img-format2{
    width: 250px;
    height: 270px;
    margin-right: 10%;
    margin-top: 4%;
    display: flex;
    flex-direction: column-reverse;
    box-shadow: 0px 0px 20px #33FFFF;
}

/*------------------------------END OF CONTACT------------------------------*/


/*------------------------FOOTER------------------*/
#wave-edit{
    height: 200px;
    width: 110%;
    margin-top: 50px;
}

/*------------------------END OF FOOTER------------------*/


/*------------------------------ABOUT-------------------------*/
.myDiv {
        border: 5px outset rgb(255, 8, 0);
        background-color: lightblue;
        text-align: center;
} 
/*------HOME-------*/
.row1 {
    display: flex;
    background-color: #abe3f7;
}
.column1
{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size:large;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}
.introImage-format
{
    width: 148px;
    height: 148px;

}
.content-area{
    width: 100%;
    height: auto;
    clear: left;
    background-color: none;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}
.pp {
    line-height : 1.6;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}
ul {
    list-style-type: disc;
}
.about_li li
{
    display: list-item;
    margin-left: 70px;
    margin-right: 50px;
    line-height: 1.6;

}
/*align header */
h1 {
    line-height: 1.6;
}
.section-header
{
    font-size: 1.5em;
    font-weight: auto;
    line-height: 1.6;
    margin-left:50px;
    margin-right:50px;
    margin-bottom: 24px;
    margin-top: 20px;
}
/*align image */
img {
    line-break: auto;
    align-items: center;
}
.column {
    float: left;
    width: 50%;
    padding: 5px 50px 5px;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}
#HethongChuVietBahnar
{
    height: 10%;
}

/* tab style */
.tab{
    width: 80%;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    /*background-color: #f1f1f1
    padding: 0;*/
    margin-left: 0%;
    margin-top: 0px;
}
div.grey-bar{
    padding-top: 25px;
    padding-left: 10%;
    padding-right: 10%;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover{
    background-color: #42C2FF;

}
.tab button:active {
    background-color: #00F5FF;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}
.tabcontentHome
{
    display: block;
    padding: 6px 12px;
    border-top: none;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}



/*------------------------------ABOUT-------------------------*/
/*.option-df {
    display: none;
}*/

.hidden{
    display: none;
}
.show{
    display: block;
}
