@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    font-size: 16px;
}
.no-display{
    display: none !important;
}

/* HEADER */
.header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
#header-logo, #navbar-logo{
    width: 50px;
    height: 50px;
}
.header .title{
    text-align: center;
}
.header h1{
    font-size: 1.2em;
    color: #032B91
}
.header h1 span{
    color: #1488DB;
}
.header a, .nav-bar a:hover, .nav-bar a:focus{
    text-decoration: none;
}
.header-button{
    height: 55px;
    width: 55px;
    border-radius: 100%;
    border: 0;
    background-color: #fff;
    color: #afabab;
    text-align: center;
}
.header-button > i{
    font-size: 1.5em;
}
.active, .header-button:hover, .btn-translation-type:hover{
    background-color: #f0f0f0;
}
.header-button:hover, .btn-translation-type:hover{
    cursor: pointer;
}
.icon-bar{
    background-color: #afabab;
    height: 2.5px;
    width: 40%;
    border-radius: 1px;
    margin: 0 auto;
}
.icon-bar + .icon-bar{
    margin-top: 4px;
}
/* END OF HEADER */



/* NAVIGATION BAR */
#navbar-logo{
    margin: 10px auto;
}
.navbar{
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    text-align: center;
    border-left: 1px solid #afabab;
    box-shadow: -1px 0px 10px #afabab;
    transition: transform 0.2s linear;
}
.navbar a, .navbar a:hover, .navbar a:focus{
    text-decoration: none;
}
.navbar a + hr{
    margin: 10px auto 20px;
}
.navbar li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-list li a{
    width: 100%;
    padding: 20px 10px;
    text-align: left;
    font-size: 1em;
    color: #afabab;
}
.navbar-list li a:hover, .navbar-list li a:focus, .nav-list li a.active{
    background-color: #f0f0f0;
    color: #000;
    font-weight: bold;
}
/* END OF NAVIGATION BAR */


/* FOOTER */
footer{
    margin-top: 50px;
    height: 100px;
    border-top: 1px solid #afabab;
    padding: 15px 0;
    text-align: center;
    line-height: 1.5;
    color: #5F6368;
    background-color: #fafafa;
}
footer span{
    font-weight: bold;
}
/* END OF FOOTER */


/* TRANSLATOR */
#main-content{
    margin-top: -80px
}
.grey-bar{
    background-color: #fafafa;
    height: 100px;
    border-top: 1px solid #afabab;
    border-bottom: 1px solid #afabab;
}
.btn-holder{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.btn-holder{
    margin-bottom: 20px;
}
.btn-translation-type{
    height: 35px;
    padding: 5px 25px;
    margin-right: 5px;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #afabab;
    border-radius: 5px;
}
.btn-translation-type span{
    font-size: 16px;
    color: #1488DB;
}
.btn-translation-type span + span{
    margin-left: 5px;
}
.container{
    margin: 0 auto;
    width: 80%;
}
.translator{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #afabab;
    background-color: #fff;
    box-shadow: 0px 0px 5px #afabab;
}
.translator .text-input, .translator .file-input{
    display: flex;
    border-top: 1px solid #afabab;
}
.text-input > div{
    width: 100%;
    height: auto;
}
.text-input .vn-text-col{
    border-right: 1px solid #afabab;
    border-radius: 0 0 0 5px;
}
.text-input .bn-text-col{
    background-color: #fafafa;
    border-radius: 0 0 5px 0;
}
.text-input .vn-text-col textarea{
    height: 100%;
    min-height: 120px;
    border-radius: 0 0 0 5px;
}
.text-input .bn-text-col textarea{
    height: 120px;
}
.text-input textarea{
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 1.2em;
    padding: 20px 15px;
}
.bn-text-col textarea{
    background: none;
}
.controls, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls li span{
    color: #1488DB;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}
.lang-abbr{
    display: none;
}
.controls{
    list-style: none;
    padding: 15px 15px;
}
.controls .row select{
    border: none;
    outline: none;
    font-size: 1em;
    text-align: center;
}
.text-input > div > .controls{
    background: none;
    border-radius: 0 0 5px 0;   
    height: 60px; 
}
.text-input > div > .controls button, .uploaded-file button{
    font-size: 1.2em;
    border-radius: 100%;
    border: 0;
    background: none;
    width: 45px;
    height: 45px;
    text-align: center;
    color: #5F6368;
}
.text-input > div > .controls button:hover, .uploaded-file button:hover{
    background-color: #f0f0f0;
    cursor: pointer;
}
.translator .file-input{
    align-items: center;
    justify-content: center;
    height: 170px;
    text-align: center;
}
.file-input .lb-file-upload{
    background-color: #1488DB;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
}
.file-input .lb-file-upload span + span{
    margin-left: 5px;
}
.uploaded-file{
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 90px;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 7px;
}
.uploaded-file div{
    color: #5F6368;
}
.uploaded-file div:nth-child(1) span{
    width: 70px;
    font-size: 2.3em;
}
.uploaded-file div:nth-child(2){
    width: calc(100% - 115px);
}
#uploaded-file-name{
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
#uploaded-file-size{
    font-size: 0.8em;
}
.uploaded-file div:nth-child(2) div{
    text-align: left;
}
#btn-translate{
    width: 100%;
    margin: 20px auto;
    padding: 14px;
    border: none;
    outline: none;
    background-color: #1488DB;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

/* END OF TRANSLATOR */


/* MEDIUM SCREEN */
@media (max-width: 991px){
    .no-display-md{
        display: none !important;
    }

     /* TRANSLATOR */
    .container{
        width: 100%;
    }
    /* END OF TRANSLATOR */
}

/* SMALL SCREEN */
@media (max-width: 767px){
    .no-display-sm{
        display: none !important;
    }

    /* HEADER */
    .header{
        height: 60px;
        padding: 0 7px;        
    }
    .header .title{
        text-align: left;
    }
    .header h1{
        font-size: 1em;
    }
    .header-button{
        height: 45px;
        width: 45px;
        margin: 7px 5px auto;
        border-radius: 100%;
        border: 0;
        background-color: #fff;
        color: #afabab;
        text-align: center;
    }
    .header-button > i{
        font-size: 1.3em;
    }
    /* END OF HEADER */

    /* TRANSLATOR */
    .translator .text-input{
        flex-direction: column;
    }
    .text-input .vn-text-col{
        border: 0;
    }
    .lang-abbr{
        display: inline-block !important;
    }
    /* END OF TRANSLATOR */
}